# Default ignored files
/../../../../../../../../:labTp-java/LabTp_java/.idea/shelf/
/../../../../../../../../:labTp-java/LabTp_java/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../../../:labTp-java/LabTp_java/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../../../../:labTp-java/LabTp_java/.idea/dataSources/
/../../../../../../../../:labTp-java/LabTp_java/.idea/dataSources.local.xml
